body {
	margin : 0;
	padding: 0;

	/* background-color: white; */
	background-color: #bc8f8f
}
header {
	margin : 0;
	padding: 0;
	width: 1000px;
	height: 300px;
	background-color: #57cd7b;
}
nav {
	margin : 0;
	padding: 0;
	width: 1000px;
	height: 40px;
	background-color: #86dfa1;
}
nav ul {
	margin:0px;
	padding:0px;
	background-color:#86dfa1;
	list-style-type:none;
}
nav li {
	float:left;
	width: 111px;
	height:20px;
	list-style: none;
	text-align: center;
	background-color:#86dfa1;
}
nav li a {
	display:block;
	height:100%;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
nav li a:hover {
	display:block;
	height:100%;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	background-color:#c2f5d2;

section#main {
	margin : 0;
	padding: 0;
	width: 1000px;
	height: 600px;
	background-color: #d3ffc5;
	float: left;
}
#main h1 {
	font-size: 14pt;
	border-bottom:1px solid black;
	text-shadow: 1px 1px 3px #777;
}
#main h2 {
	font-size: 20pt;
	border-bottom:1px solid black;
	text-shadow: 1px 1px 3px #777;
}
#main p {
	padding: 10px;
	font-size: 16pt;
	line-height: 150%;
}
#main p strong {
	font-size: 16pt;
}

footer {
	clear: both;
	margin : 0;
	padding: 0;
	width: 1000px;
	height: 50px;
	background-color: #57cd7b;
}
footer p {
	padding-right: 20px;
	text-align: right;
	font-size: 9pt;
}
canvas {
	border: 1px solid red;
}

form p {
	margin:0 0 -15px 0;
	padding:0;
}

















