body {

	margin : 5px auto ;
	padding: 0 ;
	width: 1000px;
	height: 750px;



	background-color: #ccffff
}

header {
	margin : 0;
	padding: 0;


	width: 1000px;
	height: 150px;

	background-color: #ccffff;
	float: center;
}
header h1 {
	font-size: 16pt;

	text-shadow: 1px 1px 3px #777;
}
header h2 {
	font-size: 20pt;

	text-shadow: 1px 1px 3px #777;
}
header p {
	padding: 10px;
	font-size: 16pt;
	line-height: 100%;
}


article {
	margin : 0px;
	padding: 0;

	width: 200px;
	height: 600px;
	background-color: #ccffff;
	font-size: 100%;
/*	color: white;    */
	float: left;
}
article h1 {
	font-size: 40pt;

	text-shadow: 1px 1px 3px #777;
}
article h2 {
	font-size: 20pt;

	text-shadow: 1px 1px 3px #777;
}
article p {
	padding: 10px;
	font-size: 16pt;
	line-height: 150%;
}
article p strong {
	font-size: 16pt;
}

#main {
	margin : 0;
	padding: 0;

	width:  800px;
	height: 600px;
	background-color: #ccffff;
	float: left;
}
#main h1 {
	font-size: 14pt;

	text-shadow: 1px 1px 3px #777;
}
#main h2 {
	font-size: 20pt;

	text-shadow: 1px 1px 3px #777;
}
#main p {
	padding: 10px;
	font-size: 16pt;
	line-height: 150%;
}
#main p strong {
	font-size: 16pt;
}


canvas {
	border: 1px solid black;
}

form p {
	margin:0 0 -15px 0;
	padding:0;
}

















